<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.isfaaghyth.git_repositories">

    <application>

        <activity android:name=".feature.GitRepositoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="appisfaaghyth"
                      android:host="belajarmodular"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
